<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Car User System</mat-card-title>
      <mat-card-subtitle>Desafio Pitang</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Car User System">
    <mat-card-content>
      <p>
       Olá! Seja bem vindo ao sistema Car User System.<br />
       Esse é um sistema para o desafio da Pitang desenvolvido em Angular 12 e
       Spring Boot 2. <br />
       <br /> Atte João Paulo Felix
      </p>
    </mat-card-content>
  </mat-card>